html {
  scroll-behavior: smooth;
}

/* Tell Reach Dialog that we are handling styling ourselves */
:root {
  --reach-dialog: 1;
}

/* Add a background colour so that when you overscroll (iOS and macOS) you can see the colour underneath */
body {
  @apply bg-green-500;
}

.heading-1 {
  @apply text-xl italic uppercase;
}

@responsive {
  /* Used to prevent content being hidden behind bottom menu controls on mobile Safari */
  .fill-available {
    min-height: -webkit-fill-available;
  }

  .text-shadow {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  }
}

/* Override keen-slider user-select property */
ul.keen-slider {
  user-select: auto;
}

/* .prose ul > li {
  position: relative;
  padding-left: 1.75em;
}

.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose ul > li:before {
  background-color: #295a4a;
}
.prose ul > li:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: 0.6875em;
  left: 0.25em;
} */

/* Turn off animations for people who have the prefers-reduced-motion query enabled */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
